<form class="uk-position-center uk-form-stacked" action="/login" method="POST">
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Enter your credentials</legend>

    <div class="uk-margin">
      <label class="uk-form-label" for="email">Email</label>
      <div class="uk-form-controls">
        <input
          class="uk-input"
          type="text"
          name="email"
        />
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="email">Password</label>
      <div class="uk-form-controls">
        <input
          class="uk-input"
          type="password"
          name="pwd"
        />
      </div>
    </div>

    <div class="uk-margin">
      <button type="submit" class="uk-button uk-button-primary">Login</button>
    </div>

    <a class="uk-link" href="/register">Registrate</a>
  </fieldset>
</form>