<form
  class="uk-position-center uk-form-stacked"
  action="/register"
  method="POST"
>
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Register</legend>

    {{#if error}}
      <div class="uk-margin">
        <div class="uk-alert-danger" uk-alert>
          <p>{{{error}}}</p>
        </div>
      </div>
    {{/if}}

    <div class="uk-margin">
      <label class="uk-form-label" for="email">Email</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="email" />
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="fname">Firstname</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="fname" />
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="lname">Lastname</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="lname" />
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="pwd">Password</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="password" name="pwd" placeholder="" />
      </div>
    </div>

    <div class="uk-margin">
      <button type="submit" class="uk-button uk-button-primary">Submit</button>
    </div>

    <a class="uk-link" href="/login">Ya tienes cuenta?</a>
  </fieldset>
</form>